@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root {
    --bg-color: #e6f4e5;
    --second-bg-color: #fff;
    --text-color: #0c0c0c;
    --main-color: #19A94B;
    --header-color: #C9E8C6;
    --education-font-size: 2rem;
    --education-font-size-responsive: 2.5rem;
}
  
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.acessibility{
    position: fixed;
    z-index: 100;
    right: 0.6rem;
    bottom: 41.7%;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.acessibility .acessibility-icon a img {
    width: 6rem;
    height: 5rem;
    cursor: pointer;
}
.acessibility .font-size-icon a i, .acessibility .youtube-icon a i{
    font-size: 4.5rem;
}
.acessibility .youtube-icon a i{
    color: #fd0202;
    cursor: pointer;
}
.acessibility .font-size-icon a i{
    color: var(--main-color);
    cursor: pointer;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: default;
    font-weight: 600;
}

.logo:hover {
    color: var(--main-color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color)
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    width: 80rem;
    text-align: justify;
    padding-right: 2rem;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.home-img img {
    width: 28vw;
    border-radius: 40px;

    animation: floatImage 4s ease-in-out infinite;
}

.home-content p {
    font-size: 1.6rem;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes floatIcon {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-0.6rem);
    }

    100% {
        transform: translateX(0);
    }
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;

}

.btn:hover {
    box-shadow: none;
    animation: floatIcon 2s ease-in-out infinite;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}
section.education {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: var(--second-bg-color);
}
#audiobook-education {
    margin: 3rem 0;
}
.libras-pitch {
    position: fixed;
    right: 0;
    bottom: 40%;
}
.libras-pitch video{
    width: 30rem;
    border-radius: 1rem;
}
.libras-pitch iframe{
    width: 37rem;
    height: 25rem;
    border-radius: 1rem;
}
#close-libras, #close-pitch{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    font-size: 7rem;
}
#close-libras {
    color: var(--second-bg-color);
}
#close-pitch {
    color: var(--second-bg-color);
}
video#pitch-apresentation{
    width: 40rem;
    height: 20rem;
}
div.education-content img {
    margin-right: 3rem;
    border-radius: 2rem;
}
div.education-content img.ciclosImagem{
    width: 40rem;
}
div.education-content img#lixeiraRoxa {
    width: 15vw;
}
div.education-content img#saneamentoBasico {
    width: 37rem;
}
.education-content p span{
    color: var(--text-color);

}
.education-content p {
    text-align: justify;
}
#lixeira {
    width: 40vw;
}
.education-content img.beneficios {
    width: 10vw;
    margin-right: 4rem;
}
.education-content h2 {
    text-align: left;
    line-height: 1.2;
}

.education-content h3 {
    font-size: 2.6rem;
}

.education-content p {
    font-size: var(--education-font-size);
    margin: 2rem 0 3rem;
} 
#font-size-icon {
    cursor: pointer;
}
#arrow a i {
    position: fixed;
    bottom: 0;
    right: 0;
    animation: floatArrows 0.9s ease-in-out infinite;
    font-size: 5rem;
    color:#333;
}
#arrow a i:hover {
    animation: none;
}

@keyframes floatArrows {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.8rem);
    }

    100% {
        transform: translateY(0);
    }
}
.team h2 {
    margin-bottom: 2rem;
}

.team-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    
}
section.team {
    padding: 10rem 18% 2rem;
}
.team-container .team-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 1.6rem 2rem 5rem 2rem;
    height: 36rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #a3e49d;
}
.team-container .team-box img {
    margin-top: 1.6rem;
    width: 25rem;
    height: 25rem;
    border-radius: 2rem;
}
.team-container .team-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);

}

.team-box img {
    font-size: 7rem;
}

.team-box h3 {
    font-size: 2.6rem;
}

.team-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

section.pontosColeta {
    background: var(--bg-color);
    padding: 10rem 9% 2rem;
}

section.pontosColeta h2 {
    margin-bottom: 8.5rem;
}
.pontosColeta-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.pontosColeta-box i.bx-recycle{
    font-size: 7rem;
    color: var(--main-color);
}
.pontosColeta-box i.bx-link-external{
    font-size: 3rem;
    color: var(--main-color);
}
.pontosColeta-box img {
    margin: 0;
    background-clip: padding-box;
}
.pontosColeta-geometry, .pontosColeta-geometry-two{
    background-size: cover;
    width: 47rem;
    height: 30rem;
    background-color: var(--second-bg-color);
    border: 0.4rem solid #a3e49d;
    font-weight: 700;
}
.pontosColeta-geometry {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.pontosColeta-geometry-two{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
.pontosColeta-geometry:hover, .pontosColeta-geometry-two:hover{
    border: 0.4rem solid var(--main-color);
    transition: 1s;
    font-size: 2rem;
    width: 50rem;
    height: 33rem;
}
.pontosColeta-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 1rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(255, 255, 255, .7), #000);
}
#geometry-1{
    background-image: url(./imagensPontosColeta/praca-ana-lucia-magalhaes.jpg);
}
#geometry-2{
    background-image: url(./imagensPontosColeta/largo\ do\ papagaio.png);
}
#geometry-3{
    background-image: url(./imagensPontosColeta/Praça\ Caramuru\ -\ Rio\ Vermelho.jpg);
}
#geometry-4{
    background-image: url(./imagensPontosColeta/Praça\ Caramuru\ em\ Pilar\,\ Salvador\ -\ BA.jpg);
}
#geometry-5{
    background-image: url(./imagensPontosColeta/Praça\ do\ Imbuí\,\ Salvador\ -\ BA.jpg);
}
#geometry-6{
    background-image: url(./imagensPontosColeta/Praça\ de\ Stella\ Mares.jpg);
}
#geometry-7{
    background-image: url(./imagensPontosColeta/Praça\ da\ Revolução\ em\ Periperi\,\ Salvador\ -\ BA.jpg);
}
#geometry-8{
    background-image: url(./imagensPontosColeta/Campo\ da\ Pronaica\ em\ Cajazeiras.jpg);
}
#geometry-9{
    background-image: url(./imagensPontosColeta/Assaí\ Atacadista\ em\ Mussurunga.jpg);
}
#geometry-10{
    background-image: url(./imagensPontosColeta/118615\,bompreco-afasta-segurancas-envolvidos-em-agressao-a-jovens-em-shopping-de-salvador-3.jpg);
}

/* informações ao passar o mouse em cima da box pontosColeta */
.pontosColeta-box .pontosColeta-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5 ease;
    font-weight: 700;
}

.pontosColeta-box:hover .pontosColeta-layer {
    transform: translateY(0);
}

.pontosColeta-layer h4 {
    font-size: 3rem;
}

.pontosColeta-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.pontosColeta-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.pontosColeta-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
/* fim - informações ao passar o mouse em cima da box pontosColeta */

/* scrollbar */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--header-color) #333;
  }
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #444;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #444;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #444;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--main-color);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--header-color);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }
  
/* BREAKPOINT */
@media(max-width: 1200px) {
    html {
        font-size: 50%;
    }
    .team-container .team-box img {
        margin-top: 0;
    }
    div.education-content p{
        font-size: var(--education-font-size-responsive);
    }
    .acessibilityFontSize {
        font-size: 2rem;
    }
}

@media(max-width: 1024px) {
    .home p {
        margin-right: 1rem;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    .team {
        padding-bottom: 7rem;
    }
    div.education-content img.ciclosImagem{
        width: 35rem;
    }
    div.education-content img#lixeiraRoxa {
        width: 27rem;
    }
    #lixeira {
        width: 60vw;
    }
    .education-content img.beneficios {
        width: 15vw;
        margin-right: 2rem;
    }
}
@media(max-width: 962px) {
    .team-container .team-box img{
        width: 32rem;
    }
    .team-container .team-box {
        padding: 1rem 1rem;
    }
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .pontosColeta-geometry, .pontosColeta-geometry-two {
        width: 40rem;
        font-size: 1.3rem;
    }
    .pontosColeta-geometry:hover, .pontosColeta-geometry-two:hover {
        width: 43rem;
        font-size: 1.3rem;
    }

}

@media(max-width: 768px) {
    .pontosColeta-geometry, .pontosColeta-geometry-two {
        width: 37rem;
        font-size: 1.2rem;
    }
    .pontosColeta-geometry:hover, .pontosColeta-geometry-two:hover {
        width: 39rem;
    }
    #trajetoLixo {
        width: 60rem;
    }
    div.education-content img.ciclosImagem{
        width: 28rem;
    }
    .education-content {
        flex-direction: column-reverse;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }
    .home-content {
        width: 70rem;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 50vw;
        margin-top: 6rem;
    }

    .team h2 {
        margin-top: 3rem;
    }

    .pontosColeta h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 640px) {
    .home-content {
        width: 55rem;
    }
    .team-container {
        display: flex;
    }
    #trajetoLixo {
        width: 50rem;
    }
    .pontosColeta-geometry, .pontosColeta-geometry-two {
        width: 47rem;
        font-size: 1.5rem;
    }
    .pontosColeta-geometry:hover, .pontosColeta-geometry-two:hover {
        width: 49rem;
    }
    .pontosColeta-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #geometry-3 {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    #geometry-4 {
        clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    }
    #geometry-5 {
        clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    }
    #geometry-8 {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    #geometry-9 {
        clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .team-box {
        height: 30vh;
    }
    .team-container {
        width: 72vw;
    }
    #trajetoLixo {
        width: 40rem;
    }
    .pontosColeta-geometry, .pontosColeta-geometry-two {
        width: 42rem;
        font-size: 1.4rem;
    }
    .pontosColeta-geometry:hover, .pontosColeta-geometry-two:hover {
        width: 44rem;
    }
    .home-content {
        width: 40rem;
    }
}


@media (max-width: 375px) {
    html {
        font-size: 45%;
    }
    .pontosColeta-geometry, .pontosColeta-geometry-two {
        width: 37rem;
        font-size: 1.2rem;
    }
    .pontosColeta-geometry:hover, .pontosColeta-geometry-two:hover {
        width: 38rem;
    }
    #trajetoLixo {
        width: 30rem;
    }
    .home-img img {
        width: 90vw;
    }
    div.education-content img#lixeiraRoxa {
        width: 25rem;
    }
    #lixeira {
        width: 25rem;
    }
    .education-content img.beneficios {
        width: 25rem;
    }

}
